---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import FormattedDate from '../components/FormattedDate.astro'
import BaseLayout from './BaseLayout.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
const images = import.meta.glob('/src/assets/*.{jpeg,jpg,png,gif}')
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<BaseLayout>
		<article class="flex flex-col items-center justify-center">
			<div class="w-full">
				{
					heroImage && (
						<Image
							width={1020}
							height={510}
							src={images[heroImage]() as Promise<{ default: ImageMetadata }>}
							alt=""
							class="mx-auto my-0 rounded-xl shadow-[var(--box-shadow)]"
						/>
					)
				}
			</div>
			<div class="m-auto w-[720px] max-w-[calc(100%-2em)] p-4">
				<div class="mb-4 px-0 py-4 text-center">
					<div class="mb-2 text-[rgb(var(--gray))]">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="italic">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<h1 class="m-[0_0_0.5em_0]">{title}</h1>
					<hr />
				</div>
				<slot />
			</div>
		</article>
	</BaseLayout>
</html>
